body {
    height: 100%;
    width: 100%;
    color: white;
    background-image: url(insideout12.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, 'Trebuchet MS', Helvetica, sans-serif;
}

.header {
    background-color: #CFD8D7;
    border-top: 5px solid white;
    border-bottom: 1px solid #e8e8e8;
    color: white;
}

.logo {
    float: left;
    /*vertical-align: middle;*/
}

.logo img {
    width: 40px;
    height: auto;
    /*vertical-align: middle;*/
    padding: 5px 0px 0px 5px;
}

.dropbtn {
    background-color: transparent;
    color: white;
    /*padding: 10px 8px 8px;*/
    font-size: 14px;
    border: none;
    cursor: pointer;
    /*width: 120px;*/
    width: 100%;
    height: 50px;
}


.dropdown {
    position: relative;
    display: inline-block;
    /*width: 160px;*/
    text-align: center;
    vertical-align: middle;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 100%;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    z-index:1;
    text-align: center;
    vertical-align: middle;
}

.dropdown-content a {
    color: black;
    padding: 12px 0px;
    text-decoration: none;
    display: block;
    font-size: 1em;
    text-align: center;
    vertical-align: middle;
}

.dropdown-content a:hover {
    background-color: lightgrey;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn, .dropdown:hover .dropbtn1 {
    background-color: silver;
}

.dropbtn1 {
    background-color: transparent;
    color: white;
    /*padding: 10px 8px 8px;*/
    font-size: 14px;
    border: none;
    cursor: pointer;
    /*width: 160px;*/
    width: 100%;
    height: 50px;
    padding: 0px 20px;
}

.right {
    text-align: right;
    float: right;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    /*margin-left: 2px;*/
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}

.container {
    text-align: center;
    padding: 18% 0%;
    margin: 30px;
    background-color: rgba(255,255,255,0.6);
    
    padding-left: 20px;
}



#links:hover {
    color: silver;
    /*text-align: center;*/
    font-size: 50px;
    text-decoration: none;
    font-weight: bold;
}

#links:visited, #links:link {
    color: white;
    /*text-align: center;*/
    font-size: 50px;
    text-decoration: none;
    font-weight: bold;
}


.location {
    color: white;
}


.pin {
    text-decoration: none;
}

.pin:hover {
    text-decoration: none;
}

.pin:visited {
    text-decoration: none;
}

.pin:link {
    text-decoration: none;
}


#copyright {
    /*
    position: absolute;
    bottom:0;
    font-family: 'Courier New', Courier, monospace;
    background-color: transparent;
    font-size: 0.75rem;
    width:100%;
    display: block;
    color: white;
    */
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.75rem;
}

#footer {
    /*
    position: absolute;
    bottom:0;
    font-family: 'Courier New', Courier, monospace;
    background-color: transparent;
    font-size: 0.75rem;
    width:100%;
    display: block;
    color: white;
    */
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.75rem;
}

h1 {
    color: black;
}

p {
    color: black;
    text-align: left;
}

h4 {
    text-align: left;
    color: black;
}